@charset "utf-8";
/* CSS Document */

/* Global Elements */
* {
	margin:0;
	padding:0;
}
body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;   
	background-color: #fdfdfd;
}
pre {
	display: block;
	font-family: monospace;
	white-space: pre;
}
h1 {
	font-family: 'Economica', sans-serif;
	font-size: 95px;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 0;
	text-transform: uppercase;
}
h2 {
	font-family: 'Economica', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
}
h3 {
	font-family: 'Economica', sans-serif;
	font-size: 18px;
	font-weight: 400;
	position:relative;
	margin: 20px 0 0 0;
}
h4 {
	font-size:20px;
	position:relative;
	margin:0 0 6px 0;
}
p {
	margin:0 0 16px;
}
a {
	color:#999;
	text-decoration:none;
	border-bottom:1px dotted #999;
}
a:hover {
	border-bottom-style:solid;
	color:#000;
}
ul {
	width: auto;
	margin: 0 0 32px 20px;
}