@charset "utf-8";
/* CSS Document */

/* Global Elements */
* {
  margin: 0;
  padding: 0;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
body {
  font-size: 16px;
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #fdfdfd;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
}
h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0;
}
h2 {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 0;
}
h3 {
  font-size: 1.15em;
  font-weight: 400;
  position: relative;
  margin: 20px 0 0 0;
}
h4 {
  font-size: 1.4em;
  position: relative;
  margin: 0 0 6px 0;
}
h5 {
  font-size: 1em;
  position: relative;
  margin: 0;
  line-height: 1.6em;
}
h6 {
  font-style: italic;
  font-weight: 400;
  font-size: 0.8em;
  position: relative;
  margin: 0;
  line-height: 1.4em;
}
p {
  margin: 0 0 16px;
}
a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
a:hover {
  border-bottom-style: solid;
  color: #000;
}
ul {
  width: auto;
  margin: 0 0 32px 20px;
}

/* Target for print media */
@media print {
  @page {
    size: auto;
    margin: 0.5in;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    margin: 0 0 10px 0;
  }
  body {
    font-size: 13px;
  }
}
