@charset "utf-8";
/* CSS Document */

/* Global Elements */
* {
	margin:0;
	padding:0;
}
body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;   
	background-color: #fdfdfd;
}
h1 {
	font-family: 'Economica', sans-serif;
	font-size: 95px;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 0;
	text-transform: uppercase;
}
h2 {
	font-family: 'Economica', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
}
h3 {
	font-family: 'Economica', sans-serif;
	font-size: 18px;
	font-weight: 400;
	position:relative;
	margin: 20px 0 0 0;
}
h4 {
	font-size:20px;
	position:relative;
	margin:0 0 6px 0;
}
p {
	margin:0 0 16px;
}
a {
	color:#999;
	text-decoration:none;
	border-bottom:1px dotted #999;
}
a:hover {
	border-bottom-style:solid;
	color:#000;
}
ul {
	width: 97%;
	margin:0 0 32px 3%;
}

/* Global Classes */
.circle-75 {
	width: 75px;
	height: 75px;
	margin: 0 auto;
	border-radius: 75px;
	border: 1px dashed #e8e4e3;
	text-align: center;
}
.horizontal-break,  
.horizontal-break-150 {
	background-color: #00abec;
	height: 2px;
	margin: 0px auto;
}
.horizontal-break-150 {
	width: 150px;
}
.vertical-break,
.vertical-break-200 {
	/* background-color: #f1f1f1; */
	width: 0;
	border-left: 1px dashed #e8e4e3;
	margin: 0px auto;
}
.vertical-break-200 {
	height: 200px;
}
.center {
	margin: 0px auto;
}
.clear {
	clear: left;
}
.title {
	font-style:italic;
	font-family: Georgia, Serif;
	color:#999;
}

/* Element Specific Inheritance */
p.title {
	font-size:16px;
	font-weight:400;
	margin: -8px 0 6px 0;
}
ul.half {
	float: left;
	width: 47%;
	margin:0 0 32px 3%;
}

/* Content Images [?] */
.paperstack {
	width: 321px;
	height: 216px;
	/* background: url(../images/paperstack.png) top center no-repeat; */
	margin: 40px auto -25px auto;
}
.paperstack .page {
	background-color: #ffffff;
	border: 2px solid #D7DBDD;

	/* Rotate page 30 degrees and Skew page -30 along the x axis */
	-webkit-transform: rotate(30deg) skewX(-30deg);
	-moz-transform: rotate(30deg) skewX(-30deg);
	-ms-transform: rotate(30deg) skewX(-30deg);
	-o-transform: rotate(30deg) skewX(-30deg);
	transform: rotate(30deg) skewX(-30deg);

}
.paperstack .page:last-child {
	box-shadow: 1px 1px 5px #D7DBDD;
}
.picture {
	width: 250px;
	height: 250px;
	background: url(../images/profile.jpg) top center no-repeat;
	border: 7px solid #fff;
	box-shadow: 1px 1px 5px #aaa;
}

/* Everything Else :) */
#wrapper {
	max-width:800px;
	margin: 0 auto;
	padding: 10px 2% 60px 2%;
}
#header {
	position: relative;
	padding: 30px 0 30px 0;
}
#me {
	text-align: center;
}
#intro h2 {
	font-size: 36px;
	margin: 0;
	position: relative;
	top: 15px;
}
#objective {
	max-width: 500px;
	margin-right: 300px; /* size of image */
}
#objective p {
	font-family:Georgia, Serif;
	font-style:italic;
	color:#666;
}

#resume {
	line-height:24px;
}

.row {
	margin: 10px 0 0 0;
}
.column {
	float: left;
}
.category {
	text-align:right;
	width: 18%;
	height:100px;
	border-right: 1px solid #999;
	padding: 0 3% 0 0;
	margin: 0 3% 0 0;
}
.category h2 {
	font-size:18px;
	font-style:italic;
	font-weight:700;
}
.information {
	width: 75%;
	min-height: 120px;
}

/* Target window size of 721px and above */
@media (min-width: 721px) {
	#picture {
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
		-moz-transform: rotate(-5deg); /* Firefox */
		transform: rotate(-5deg);

		-ms-backface-visibility: hidden; /* IE 10 */
		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		-moz-backface-visibility: hidden; /* Firefox */
		backface-visibility: hidden;
	}
}
/* Target window size of 720px and below */
@media (max-width: 720px) {
	ul.half {
		width: 97%;
	}
	#wrapper {
		padding: 10px 4% 60px 4%;
	}
	#picture {
		position: static;
		margin: 0 auto;
		background-image: url(../images/profile-wide.jpg);
		width: auto;
	}
	#objective {
		margin-right: auto;
	}
}

/* Target window size of 640px and below */
@media (max-width: 640px) {
	#wrapper {
		padding: 10px 6% 60px 6%;
	}
	.category {
		text-align: left;
		width: 100%;
		height: auto;
		border-right: none;
		border-bottom: 1px solid #999;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.information {
		width: 100%;
	}
}

/* Target for print media */
@media print {
	@page {
		margin: 0.5in;
	}
	#picture {
		display: none !important;
	}
}