@charset "utf-8";
/* CSS Document */

/* Global Elements */
* {
	margin:0;
	padding:0;
}
body {
	font:16px Helvetica, Sans-Serif;
	line-height:24px;
}
h1 {
	font-size:42px;
	font-weight:700;
	letter-spacing:-2px;
	border-bottom:1px solid #999;
	margin:0 0 16px;
	padding:0 0 16px;
}
h2 {
	font-size:20px;
	position:relative;
	margin:0 0 6px 0;
}
p {
	margin:0 0 16px;
}
a {
	color:#999;
	text-decoration:none;
	border-bottom:1px dotted #999;
}
a:hover {
	border-bottom-style:solid;
	color:#000;
}
ul {
	width: 97%;
	margin:0 0 32px 3%;
}

/* Global Classes */
.clear {
	clear: left;
}
.title {
	font-style:italic;
	font-family: Georgia, Serif;
	color:#999;
}

/* Element Specific Inheritance */
p.title {
	font-size:16px;
	font-weight:400;
	margin: -8px 0 6px 0;
}
ul.half {
	float: left;
	width: 47%;
	margin:0 0 32px 3%;
}

/* Everything Else :) */
#wrapper {
	max-width:800px;
	margin: 0 auto;
	padding: 10px 2% 60px 2%;
}
#header {
	position: relative;
	padding: 30px 0 30px 0;
}
#objective {
	max-width: 500px;
	margin-right: 300px; /* size of image */
}
#objective p {
	font-family:Georgia, Serif;
	font-style:italic;
	color:#666;
}
#picture {
	width: 293px;
	height: 303px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(../images/profile.png) top center no-repeat;
}
.row {
	margin: 10px 0 0 0;
}
.column {
	float: left;
}
.category {
	text-align:right;
	width: 18%;
	height:100px;
	border-right: 1px solid #999;
	padding: 0 3% 0 0;
	margin: 0 3% 0 0;
}
.category h2 {
	font-size:18px;
	font-style:italic;
	font-weight:700;
}
.information {
	width: 75%;
}

/* Target display by size */
@media (max-width: 720px) {
	ul.half {
		width: 97%;
	}
	#wrapper {
		padding: 10px 4% 60px 4%;
	}
	#picture {
		position: static;
		margin: 0 auto;
		background-image: url(../images/profile-wide.jpg);
		width: auto;
		border: 7px solid #fff;
		box-shadow: 1px 1px 5px #aaa;
	}
	#objective {
		margin-right: auto;
	}
}
@media (max-width: 640px) {
	#wrapper {
		padding: 10px 6% 60px 6%;
	}
	.category {
		text-align: left;
		width: 100%;
		height: auto;
		border-right: none;
		border-bottom: 1px solid #999;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.information {
		width: 100%;
	}
}